.container {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: fit-content;
  height: 70vh;
}

.heading {
  font-size: 32px;
  font-weight: 700;
}

.error_message {
  font-size: 13px;
  color: orangered;
}
