@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

:root {
  /* Colors */
  --primary: #357ded;
  --secondary: #f46036;

  --primary-h: #235ab2;
  --secondary-h: #b74626;

  --line: #f0f0f0;
  --stroke: #dbdcde;

  --positive: #1b998b;
  --negative: #e71d36;

  --black: #1e1e24;
  --gray1: #929396;
  --gray2: #c8c8c8;
}
